<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns="http://www.springframework.org/schema/beans" xmlns:context="http://www.springframework.org/schema/context"
       xmlns:p="http://www.springframework.org/schema/p"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd">

    <context:property-placeholder location="classpath:/db.properties"/>

    <bean id="myDateConverter" class="com.arminzheng.converter.MyDateConverter" p:pattern="${data.format.pattern}"/>

    <!--用于注册类型转换器 是给Spring提供的 所以命名有要求 必须是 conversionService -->
    <!--    如果不提供自定义转化器给Spring 则必须以 2022/04/20 这样的斜杠方式赋值 Spring默认提供的日期转换器是这种格式 -->
    <bean class="org.springframework.context.support.ConversionServiceFactoryBean" id="conversionService">
        <property name="converters">
            <set>
                <ref bean="myDateConverter"/>
            </set>
        </property>
    </bean>

    <!--bean标签是没有顺序规定的-->
    <bean id="person" class="com.arminzheng.converter.Person" p:name="zhangsan" p:birthday="2022-04-18"/>
</beans>
