<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns="http://www.springframework.org/schema/beans"
       xmlns:c="http://www.springframework.org/schema/c" xmlns:p="http://www.springframework.org/schema/p"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

    <!-- 构造器循环依赖需要手动解决 -->
    <!--Is there an unresolvable circular reference?-->
    <bean id="a" class="com.arminzheng.circular.Account" scope="prototype" c:money-ref="m"/>
    <bean id="m" class="com.arminzheng.circular.Money" scope="prototype" c:account-ref="a"/>

    <!--
    /** 一级单例缓存：单例（对象）池，这里面的对象都是确保初始化完成，可以被正常使用的 它可能来自3级，或者2级 */
    private final Map<String, Object> singletonObjects = new ConcurrentHashMap(256);

    /** 三级工厂缓存：单例工厂池，这里面不是bean本身，是它的一个工厂，未来调getObject来获取真正的bean
     一旦获取，就从这里删掉，进入2级（发生闭环的话）或1级（没有闭环）*/
    private final Map<String, ObjectFactory<?>> singletonFactories = new HashMap(16);

    /** 二级早期缓存：早期（对象）单例池，这里面都是半成品，只是有人用它提前从3级get出来，把引用暴露出去
     * 它里面的属性可能是null，所以叫早期对象，early:半成品 未来在getBean付完属性后，会调addSingleton清掉2级，正式进入1级 */
    private final Map<String, Object> earlySingletonObjects = new HashMap(16);
    -->
    <bean id="accountI" class="com.arminzheng.circular.Account" p:money-ref="moneyI" p:id="997">
        <!--<property name="money" ref="moneyI"/> Error: Only one approach may be used per property.-->
    </bean>
    <!-- 不能使用toString方法，因为会形成回环链表 -->
    <bean id="moneyI" class="com.arminzheng.circular.Money" scope="prototype" p:account-ref="accountI" p:id="007"/>
</beans>